* {
  margin: 0px;
  padding: 0px;
}
.main {
  width: 100vw;
  height: 80vh;
  display: flex;

}

.new-note-main{
  position: fixed;
  top: 45%;
  left: 40%;

}


.botaoMais {
  position: fixed;
  bottom: 3%;
  left: 3%;
}
