.newNote-square{
    background-color: var(--cor-padrao-beje);
    position: fixed;
    top: 45%;
    left: 40%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;

}

.newNote{
height: 100vw;
display: flex;
justify-content: center;
align-items: center;
}
.tipo1{
  background-color: aqua;
}
:root{
  --tipo1: white;
}

.murillo{
  color: var(--tipo1);
}
