    <div class="newNote-square ">

<form action="">
  <input type="text" placeholder="Digite o título da sua nota" [(ngModel)]="nota.titulo">
  <input type="text" placeholder="Digite sua nota" [(ngModel)]="nota.conteudo">
</form>

<button routerLink="/nota-pronta" (click)="criarNota()">Salvar</button>
<button> <img src="../../../assets/imagens/lembreteIcon.svg" alt=""></button>
<button routerLink="/colorir"> <img src="../../../assets/imagens/colorir icon.svg" alt=""></button>
<button> <img src="../../../assets/imagens/fotoIcon.svg" alt=""></button>
    </div>
<!--janela modal -->
